/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

/* General Styles */
body {
    margin: 0;
    
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 1rem;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.menu-toggle {
    display: none;

    &__label {
        display: none;
        cursor: pointer;
        padding: 1rem;
        position: relative;

        span {
            background: #fff;
            display: block;
            height: 3px;
            margin: 5px 0;
            transition: all 0.3s;
            width: 25px;
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    &:checked + .menu-toggle__label span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    &:checked + .menu-toggle__label span:nth-child(2) {
        opacity: 0;
    }

    &:checked + .menu-toggle__label span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    &:checked ~ .nav-bar {
        display: block;
    }
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;

    @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    &__nav-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
            flex-direction: column;
            width: 100%;
        }
    }

    &__nav-item {
        margin: 0;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__nav-link {
        color: white;
        display: block;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        transition: background 0.8s, border-bottom-width 0.8s;
        border-bottom: solid transparent;

        &:hover {
        background-color: red;
        border-bottom-width: 4px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;

    &__logo-container {
        flex: 1;
    }

    &__logo {
        max-width: 100%;
        height: auto;
    }

    &__form-container {
        flex: 2;
        display: flex;
        justify-content: center;

        .search-bar__form {
            display: flex;
            width: 100%;
            max-width: 500px;

            &-search {
                font-size: 15px;
                font-weight: 500;
                flex: 1;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px 0 0 4px;
            }

            &-submit {
                padding: 0.5rem 1rem;
                background: #555;
                border: 1px solid #555;
                color: #fff;
                border-radius: 0 4px 4px 0;
                cursor: pointer;
                transition: background 0.3s;

                &:hover {
                    background: #777;
                }
            }
        }
    }

    &__carrito-container {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        .search-bar__carrito {
            max-width: 2rem;
            height: auto;
        }
    }
}


