.loguitos{
    padding: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    
}
.loguito{
    padding: 2px;
    width: 40px;
    height: 400px;
}
.carrito{
    width: 40px;
    height: 25px;
}
