.logo-carro-1 {
  position: relative;
  margin-top: 0.25rem; /* 4px */
  padding: 0.3125rem; /* 5px */
  transform: scale(1.2);
}

.loguito {
  background-color: black;
  padding: 0.125rem; /* 2px */
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
}

.carrito {
  width: 2.5rem; /* 40px */
  height: 1.5625rem; /* 25px */
}

.footer-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.875rem; /* 30px */
  padding: 1.25rem; /* 20px */
  background-color: rgb(173, 162, 162);
  border-top: 0.0625rem solid #e7e7e7; /* 1px */

  .footer-column {
    flex: 1;
    margin: 0.625rem; /* 10px */
    min-width: 12.5rem; /* 200px */

    .footer-title {
      font-size: 1.1875rem; /* 19px */
      font-weight: 900;
      margin-bottom: 0.625rem; /* 10px */
    }

    .footer-subtitle {
      font-size: 0.875rem; /* 14px */
      margin: 0.3125rem 0; /* 5px */
    }

    .footer-links {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.3125rem; /* 5px */

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .payment-methods,
    .app-download,
    figure {
      display: flex;
      gap: 0.625rem; /* 10px */

      .payment-logo,
      .app-logo,
      .loguitos {
        max-width: 3.125rem; /* 50px */
      }
    }

    .contacto {
      .a-contacto {
        display: inline-block;
        margin: 0.3125rem 0; /* 5px */

        .img-contacto {
          width: 1.5rem; /* 24px */
          height: 1.5rem; /* 24px */
          object-fit: contain;
        }
      }
    }
  }
}

.footer-copy {
  text-align: center;
  padding: 0.625rem; /* 10px */
  background-color: black;
  color: white;
  margin-top: 1.25rem; /* 20px */
}

.footer-footer {
  margin-top: 9.375rem; /* 150px */
}

.texto-final {
  background-color: #ded;
  font-size: 0.75rem; /* 12px */
  color: black;
  margin-top: 2.5rem; /* 40px */
}

// Variables
$img-size-lg: 1.25rem; /* 20px */
$img-size-md: 0.9375rem; /* 15px */
$img-size-sm: 0.3125rem; /* 5px */

// Mixins para Responsividad
@mixin responsive-img($size) {
  width: $size;
  height: $size;
}

// Estilos
.whatsapp {
  position: fixed; // Hace que el div sea fijo
  bottom: 1.875rem; /* 30px */
  right: 1.25rem; /* 20px */
  display: flex;
  align-items: center;
  gap: 0.625rem; /* 10px */
  background-color: transparent; // Fondo blanco para mejor visibilidad
  padding: 0.625rem; /* 10px */
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
  z-index: 5;

  &:hover {
    box-shadow: 0 0.0625rem 2.5rem 0.625rem rgb(0, 0, 0);
    transform: scale(1.2);
  }

  a img {
    @include responsive-img($img-size-lg);
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  @media (max-width: 37.5rem) { /* 600px */
    a img {
      @include responsive-img($img-size-md);
    }

    p {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 25rem) { /* 400px */
    flex-direction: column; // Disponer la imagen y el texto en columna
    a img {
      @include responsive-img($img-size-sm);
    }

    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
