.logo-carro-1{
  position: relative;
  margin-top: 4px;
  padding: 5px;
  transform: scale(1.2);
}
.loguito{
    background-color: black;
    padding: 2px;
    width: 40px;
    height: 40px;
}
.descarga-app{
  width: 90px;
  height: 25px;
}
.carrito{
    width: 40px;
    height: 25px;
}
.footer-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(173, 162, 162);
  border-top: 1px solid #e7e7e7;

  .footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;

    .footer-title {
      font-size: 19px;
      font-weight: 900;
      margin-bottom: 10px;
    }

    .footer-subtitle {
      font-size: 14px;
      margin: 5px 0;
    }

    .footer-links {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 5px;

        a {
          color: #333;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .payment-methods, .app-download, figure {
      display: flex;
      gap: 10px;

      .payment-logo, .app-logo, .loguitos {
        max-width: 50px;
      }
    }

    .contacto {
      .a-contacto {
        display: inline-block;
        margin: 5px 0;

        .img-contacto {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
      }
    }
  }
}

.footer-copy {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 20px;
 }
 .footer-footer{
  margin-top: 150px;
 }
 
 .texto-final{
  background-color: #ded;
  font-size: 12px;
  color: black;
  margin-top: 40px;
 }
 // Variables
$img-size-lg: 20px;
$img-size-md: 15px;
$img-size-sm: 5px;

// Mixins para Responsividad
@mixin responsive-img($size) {
  width: $size;
  height: $size;
}

// Estilos
.whatsapp {
  position: fixed; // Hace que el div sea fijo
  bottom: 20px; // Ajusta según sea necesario
  right: 20px; // Ajusta según sea necesario
  display: flex;
  align-items: center;
  gap: 10px; // Espacio entre la imagen y el texto
  background-color: transparent; // Fondo blanco para mejor visibilidad
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;

  &:hover{
    box-shadow: 0 1px 40px 10px rgb(0, 0, 0);
    transform: scale(1.2);
  }

  a img {
    @include responsive-img($img-size-lg);
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  @media (max-width: 600px) {
    a img {
      @include responsive-img($img-size-md);
    }

    p {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 400px) {
    flex-direction: column; // Disponer la imagen y el texto en columna
    a img {
      @include responsive-img($img-size-sm);
    }

    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
