.nosotros-main{
    margin: 30px;
}

.nosotros-h1{
    background-color: #000000;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    transition: all 1.2s;

    
     &:hover{
    transform: scale(1.07);
}
}
.nosotros-h3{
    background-color: red;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 320px;
    overflow: hidden;
    transition: all 1.9s;

    &:hover{
    transform: scale(1.07);
}
}

$float-margin: 10px;

.left-img {
    float: left;
    margin-right: $float-margin;
}

.right-img {
    float: right;
    margin-left: $float-margin;
}

.clear {
    clear: both;
}

.nosotros-p{
    background-color: rgb(234, 236, 236);
    padding: 60px;
    border-radius: 10px;
}
