.nosotros-main{
    margin: 30px;
}

.nosotros-h1{
    background-color: #e2ded8;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nosotros-h3{
    background-color: #f1eeea;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 320px;
}
.nosotros-p {
    overflow: hidden;
}

.p-imagen-1 {
    float: left;
    margin-right: 20px;
}

.p-imagen-2 {
    float: right;
    margin-right: 20px;
}
.p-imagen-3 {
    float: left;
    margin-right: 20px;
}
.p-imagen-4 {
    float: right;
    margin-right: 20px;
}
.p-imagen-5 {
    float: left;
    margin-right: 20px;
}
.p-imagen-6 {
    float: right;
    margin-right: 20px;
}
.p-imagen-7 {
    float: left;
    margin-right: 20px;
}